
.details-cmp {
    margin-left: 40px;
    margin-right: 40px;
}

.main-details {
    width: 70%;
    margin-top: 80px;
}

.beat-chat-cmp {
    margin-top: 80px;
    background-color: $bgc2;
    width: 30%;
    margin-left: 10px;
    // margin-bottom: 10px;
    min-height: 85vh;
}
