.main-details {
    width: 70vw;
}

.chat-container {
    width: 30vw;
}

.beat-info-cmp {
    height: 20vh;
    margin-bottom: 10px;
}

.beat-player-cmp {
    height: 30vh;
    margin-bottom: 10px;
}

.beat-chat-cmp {
    height: 100vh;
}
