
<<<<<<< HEAD
.details-cmp {
    margin-left: 40px;
    margin-right: 40px;
}
=======

>>>>>>> 09759fc3a4c68e32d4ee70f50557d96e539327b8

.main-details {
    width: 70%;
    margin-top: 80px;
}

.beat-chat-cmp {
    margin-top: 80px;
    background-color: $bgc2;
    width: 30%;
    margin-left: 10px;
    // margin-bottom: 10px;
    // height: 85vh;
}
