* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $bgc2;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

h1 {
    font-size: em(66px, 16px);
}

p {
    margin: 0 0 1em;
    max-width: 54ch;
}

ul{
    list-style: none;
    padding: 0;
}
.img-upload{
    height: 0;
    width: 0;
}