* {
    box-sizing: border-box;
}

html {
    font-family: Comic Sans MS, cursive, sans-serif;
    color: $font3;
}

body {
    margin: 0;
    background-color: $bgc1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

h1 {
    font-size: em(66px, 16px);
}

ul {
    list-style: none;
    padding: 0;
}
.img-upload {
    height: 0;
    width: 0;
}

button {
    cursor: pointer;
}
