.send-container {
    width: 100%;
    padding: 10px;
    position: relative;
}

.send-msg {
    border-radius: 10px;
    padding: 5px;
}

.send-btn {
    color: $logo;
    font-size: 25px;
}

.typing{
    color: $logo;
}
