.send-container {
    width: 100%;
    padding: 10px;
    position: relative;
    
}


.beat-chat{
   border: 2px solid $bgc2;
   border-radius: 4px;
   .beat-msg > *{
       background-color:  $logo;
       border-radius: 2px 7px 7px 7px;
       width: fit-content;
       border: 1px solid $font1;
       max-width: 80%;
       word-break: break-word;
   }
   .from{
    //    margin-left: 5px;
    //    color:$logo;
       font-size: rem(16px);
       color: $bgc1;
       font-family: ambitBold;
   }
   .msg{
       background-color: $logo;
       border-radius: 20px;
    //    margin: 10px;
       color: $bgc2;
    //    font-family: ambitBold;
       font-size: rem(16px);
   }
   li{
       margin: 10px;
       padding: 0 10px;
   }
   

}

.send-msg {
    border-radius: 10px;
    padding: 5px;
    outline: none;
}

.send-btn {
    color: $logo;
    font-size: rem(25px);
}

.typing{
    color: $logo;
}
