
.beat-add{
    padding: 50px;
}
.beat-add-container {
    background-color: $bgc2;
    width: 60%;
    padding: 20px;
    
}
.img-uploaded{
    height: rem(104px);
    width: rem(104px);
}
.add-input{
    width: 200px;
    padding-bottom: 10px;
}
.add-btns{
padding: 15px;

}
.genre-select{
    padding-bottom: 10px;
}