.header {
    display: grid;
    width: 100%;
}
.beat-logo {
    height: 60px;
}
.header-btn {
    font-size: rem(20px);
    text-decoration: none;
    color: $font1;
    &:hover {
        color: $logo;
    }
}
.header-search {
    max-width: rem(250px);
}

.el-input__inner {
    background-color: transparent;
    color: $logo;
    border: none;
    border-bottom: 1px solid $logo;
    &::placeholder {
        color: $logo;
    }
}

.user-profile-btn {
    font-size: rem(30px);
    padding: 0 10px;
    color: $logo;
}

.divider {
    margin: 0 10px;
}
