.beat-playerlist-cmp {
    margin-top: 49px;
    width: 100%;
}
.song-container {
    height: 50px;
    background-color: $bgc2;
    margin-bottom: 5px;
    border-radius: 7px;
}

.song-img {
    padding: 4px;
    height: 95%;
    object-fit: cover;
    border-radius: 10px;
}

.song-icon {
    font-size: rem(13px);
    padding: 0 10px 0 10px;
}

.active {
    color: $logo;
    .song-icon {
        color: $font1;
    }
}
.main-list {
    h5:hover {
        color: $logo;
        cursor: pointer;
    }
}
