.prev-card {
    background-color:$bgc2 ;
    max-width: 200px;
    height: 200px;
    padding: 5px 0 15px;
    border-radius: 10px;
    color: $font3;
    cursor: pointer;
    &.prev-card:hover{
        background-color:#121212bf;
    }
}

.prev-img {
  background-color:$bgc1;
    border-radius: 5px;
    width: rem(120px);
    height: rem(120px);
    object-fit: cover;
    border-radius: 50%;
    border: solid 3px $bgc2;
    
}
.beatImg{
    position: relative;
    &:before {
     content: '';
     width: 15px;
     height: 15px;
      position: absolute;
      z-index: 5;
      top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       background: $bgc2;
     border-radius: 50%;
     border: solid 2px $bgc1 ;
    }
   
}

.prev-details {
    height: 50%;
    justify-content: space-evenly;
}

.prev-name {
    font-size: rem(15px);
}

.prev-genre {
    font-size: rem(12px);
}

.prev-song-count {
    font-size: rem(13px);
}

.prev-likes {
    font-size: rem(15px);
    color: $logo;
}

.prev-info {
    font-size: rem(10px);
}

.prev-info-container {
    width: 100%;
}

.txt-deco {
    text-decoration: none;
    color: blanchedalmond;
    display: inline-block;
    & a {
        text-decoration: none;
    }
}
.list-header{
    padding: 10px 0 10px;
    text-decoration: underline
}
