.beat-player {
   background-color: $bgc2;
}

.beat-frame {
width: 40%;
}

.song-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 60%;
}