.beat-filter {
  margin-top: 60px;
  padding: 20px 0;
}
.filter-btn {
  padding: 8px;
  border: 1px solid $logo;
  border-radius: 10px;
  min-width: 70px;
  text-align: center;
  color: $logo;
  .el-radio__inner {
    display: none;
    height: 0;
    width: 0;
  }
  .el-radio__label {
    padding: 0;
  }
}

.filter-btn:hover {
 background-color: $bgc2;
}


@include for-normal-layout{
  .beat-filter {
    padding: 10px 0 10px;
      //  display: flex;
      //  flex-direction: column;
       .el-radio{
        margin: 0;
        margin-bottom: 10px;
        padding: 6px;
      }
       
  }
  .filter-btn {
    padding: 5px;
    // display: grid;
    margin: 0;
  }
   



}