.beat-playerlist-cmp {
    width: 100%;
    overflow-y: scroll;
    height: 270px;
}
.song-container {
    height: 50px;
    background-color: $bgc2;
    margin-bottom: 5px;
    border-radius: 7px;
    .song-title{
        flex: 1;
        padding: 0 10px;
        font-size: rem(12px);
    }
}

.song-img {
    width: 10%;
    height: 60%;
    padding: 0 4px;
    object-fit: cover;
    border-radius: 10px;
}

.song-icon {
    font-size: rem(13px);
    padding: 0 10px;
}

.active {
    color: $logo;
    .song-icon {
        color: $font1;
    }
}

.main-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minMax(190px, 1fr));
    gap: 20px;
    padding-bottom: 20px;
    h5:hover {
        color: $logo;
    }
}

.song-dur {
    padding-left: 4px;
}
