.beat-info {
    background-color: $bgc2;
}

.user-profile {
    height: 100%;
}
.prev-img-details {
    padding: 10px;
    width: rem(150px);
    border-radius: 18px;
}

.profile-img {
    width: 3.875rem;
    height: 3.875rem;
    object-fit: cover;
    border-radius: 50%;
}

.views-container {
    padding: 5px;
}

.like-btn {
    padding-right: 5px;
    color: $logo;
}
