.header {
    padding: 5px;
    background-color: $bgc2;
}
.beat-logo{
    height: 100px;
}
.header-btn{
    font-size: rem(20px);
    text-decoration: none;
    color: $font2;
}
.header-search{
    max-width: 200px;
}

.beat-hero {
    height: 68vh;
    width: 100vw;
}