.beat-info {
    background-color: $bgc2;
}

.user-profile {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prev-img-details {
    padding: 10px;
    width: rem(150px);
}

.profile-img {
    width: 3.875rem;
    height: 3.875rem;
    object-fit: cover;
    border-radius: 50%;
}

.beat-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.views-container {
    padding: 5px;
}

.like-btn {
    cursor: pointer;
    padding-right: 5px;
    color: $logo;
}

