.beat-player {
    background-color: $bgc2;
    padding: 10px;
    h2{
        font-family: ambitBold;
        color: $logo;
        font-size: rem(20px);
        flex: 1;
        padding: 10px;
        // max-width: 400px;
      
    }
    
}


.player {
    width: 0;
    height: 0;
    // height: 100%;
}


.player-btn{
    width: 100%;
    background-color: $bgc1;
    padding: 0px 40px;
    border-radius: 10px;
    span{
        width: 34px;
    }
}
.player-btn > * {
    padding: 8px;
    font-size: rem(15px);
    &:hover {
        color: $logo;
    }
}

.sound {
    margin-left: 30px;
    padding: 8px;
    font-size: rem(15px);
}

.soundOn {
    color: $logo;
   
}
.playing-disc {
    margin-left: 20px;
}

.set-vol{
    // transform: rotate(270deg);
    // opacity: 0;
    width: 70px;
    color: $logo;
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
}
.song-desc{
    flex: 1;
    margin-left: 40px;
}