.beat-chat {
    background-color: $bgc2;
    height: 80vh;
    width: rem(300px);
    position: fixed;
    margin: 0 20px 0 20px ;
}

.send-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
}

.send-msg {
    border-radius: 10px;
    padding: 5px;
    width: 70%;
}

.send-btn {
    color: $logo;
    padding: 0 10px;
    font-size: 25px;
}

.beat-chat {
    position: relative;
}

.whatsapp-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: rem(25px);
    color: $logo;
}
