.beat-playerlist-cmp {
    width: 100%;
}
.song-container {
    height: 50px;
    background-color: $bgc2;
    margin-bottom: 5px;
    border-radius: 7px;
}

.song-img {
    width: 10%;
    height: 60%;
    padding: 0 4px;
    object-fit: cover;
    border-radius: 10px;
}

.song-icon {
    font-size: rem(13px);
    padding: 0 10px;
}

.active {
    color: $logo;
    .song-icon {
        color: $font1;
    }
}
.main-list {
    h5:hover {
        color: $logo;
    }
}

.song-dur {
    padding-left: 4px;
}