.beat-filter {
  padding: 10px 0 10px;
}
.filter-btn {
  padding: 8px;
  border: 1px solid $logo;
  border-radius: 10px;
  min-width: 60px;
  text-align: center;
  color: $font3;
  .el-radio__inner {
    display: none;
    height: 0;
    width: 0;
  }
  .el-radio__label {
    padding: 0;
  }
}
