.header {
    display: grid;
    position: absolute;
    width: 100%;
    z-index: 5;
    padding: 0 30px;
}
.beat-logo {
    height: 80px;
}
.header-btn {
    font-size: rem(20px);
    text-decoration: none;
    color: $font1;
    margin-right: 10px;
    text-shadow: 0 0px 10px $logo;
    &:hover {
        color: $logo;
    }
}
.header-search {
    max-width: rem(250px);
}

.el-input__inner {
    background-color: transparent;
    color: $logo;
    border: none;
    border-bottom: 1px solid $logo;
    &::placeholder {
        color: $logo;
    }
}

.user-profile-btn {
    font-size: rem(30px);
    padding: 10px;
    color: $logo;
}
