.beat-player {
    background-color: $bgc2;
    justify-content: center;
    h2 {
        font-family: ambitBold;
        color: $logo;
        font-size: rem(20px);
        text-align: center;
    }
    .beat-img {
        margin: 10px;
    }
}

.player {
    width: 0;
    height: 0;
}

.player-btn {
    width: 100%;
    background-image: linear-gradient(to bottom, $logo, #46a7a0, #3d7e77, #325852, #243431);
    padding: 0px 20px;
    border-radius: 10px;
    span {
        width: 34px;
    }
}
.player-btn > * {
    padding: 8px;
    color: $bgc2;
    font-size: rem(15px);
    &:hover {
        color: $logo;
    }
}
.song-desc {
    padding: 15px;
    justify-content: space-between;
    flex: 1;
}

.sound {
    margin-left: 30px;
    padding: 8px;
    font-size: rem(15px);
}

.soundOn {
    color: $logo;
}
.playing-disc {
    margin-left: 20px;
}

.set-vol {
    width: 70px;
    color: $logo;
    cursor: pointer;
    padding: 0;
}
